.frame_first {
    background-image: url('https://img.onl/tLIA0j');
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.membergroup {
    gap: 82px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 903px;
}

.frame_first .memberfirst{
    background-color: #FAD2D3;
    width: 430px;
    height: 575px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #BC5C56;
    margin-top: 325px;
}

.decoratemember_line{
  background-color: #BC5C56;
  width: 6px;
  height: 658px;
  margin-left: 85px;
  margin-right: 85px;
}

.frame_first .membersecond {
    background-color: #FAD2D3;
    width: 430px;
    height: 460px;
    border-radius:30px 30px 30px 30px;
    border: 2px solid #BC5C56;
    margin-bottom: 445px;
}


.frame_first .membergroup .membertitle {
    color: #BC5C56;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-align:center;
    align-items: center;
}

.frame_first .membergroup .memberdetil {
    color: #BC5C56;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    margin-bottom: -5px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #BC5C56;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #D2A06C;
      font-size: 24px;
      color: #BC5C56;
  }

  label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 28px;
    border-radius:50%;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0px;
  }


.frame_first .membergroup .memberbtn {
    background-color: #BC5C56;
    width: 377px;
    height: 54px;
    color: #ffffff;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    text-indent: 30px;
    line-height: 50px;
    letter-spacing: 0.03em;
    display: block;
    border-radius:10px 10px 10px 10px;
    border: 1px solid #4D4848;
    margin: 10px 24.5px 10px 24.5px;
}