* {
    padding: 0;
    margin: 0;
}

/* 以下是 index_firstarea */
.index_firstarea {
    background-color: #BC5C56;;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.adanimation_group {
    width: 1920px;
    height: 954px;
}

.adanimationpic {
width: 1920px;
height: 880px;
}

.adanimationpic img {
width: 100%;
height: 100%;
}

.adanimationtext{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Noto Sans TC';
font-weight: 700;
font-size: 64px;
line-height: 150px;
display: inline-flex;
align-items: center;
text-indent: 600px;
letter-spacing: 0.335em;
width: 1920px;
}

/* 以下是 index_secondarea */
.index_secondarea {
    background-image: url("pic/background.png");
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.drinkspromote_group {
    width: 1200px;
    height: 954px;
    position: relative;
}


/* 以下是 index_secondarea .grouptop */
.index_secondarea .grouptop {
    position: absolute;
    display: inline-flex;
    z-index: 2;
}

.index_secondarea .grouptoppic {
    width: 745.28px;
    height: 586.1px;
}

.index_secondarea .grouptoppic img {
    width: 100%;
    height: 100%;
}

.index_secondarea .grouptopword {
    font-family: 'Noto Sans TC';
    writing-mode: vertical-rl;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 93px;
}

.index_secondarea .grouptopword h1 {
    color: #BC5C56;
    font-size: 64px;
    margin-left: 12px;
}

.index_secondarea .grouptopword p {
    color: #BC5C56;
    font-size: 40px;
    margin-top: 120px;
    margin-left: 169.35px;
}


/* 以下是 index_secondarea .groupbox */
.index_secondarea .groupbox {
    background-color: #FAD2D3;
    width: 954.78px;
    height: 754.12px;
    position: absolute;
    margin-top: 66.09px;
    margin-left: 188.89px;
    z-index: 1;
}


/* 以下是 index_secondarea .groupbottom */

.index_secondarea .groupbottom {
    color: #BC5C56;
    position: absolute;
    display: inline-flex;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    z-index: 2;
    margin-top: 620.34px;
}

.index_secondarea .groupbottomword p {
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.03em;
    margin-right: 111.65px;
    margin-top: 98.9px;
    width: 420px;
}

.index_secondarea .groupbottomword .morebtn {
    background-color: #D2A06C;
    width: 285px;
    height: 62px;
    border: none;
    box-shadow: 3px 5px 5px #6B6B6B;
    color: #ffffff;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 26px;
}

.index_secondarea .groupbottompic {
    display: inline-flex;
    width: 329.02px;
    height: 333.66px;
}

.index_secondarea .groupbottompic img {
    width: 100%;
    height: 100%;
}

/* 以下是 index_thirdarea */

.index_thirdarea {
    background-color: #BC5C56;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.index_thirdarea .quotes_group {
    width: 1200px;
    height: 1088px;
}


/* 以下是 .index_thirdarea .groupleft */
.index_thirdarea .groupleft {
    position: absolute;
    z-index: 1;
    margin: 747.42px 388.65px 0px 0px;
}


.index_thirdarea .leftboxline_bottom {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
}


.index_thirdarea .leftboxline_bottom::before,
.index_thirdarea .leftboxline_bottom::after {
    content: '';
    position: absolute;
    z-index: 1;
}

.index_thirdarea .leftboxline_bottom::before {
    left: 70.12px;
    bottom: -190px;
    width: 584.97px;
    height: 4.95px;
    background-color: #D2A06C;
}

.index_thirdarea .leftboxline_bottom::after {
    left: 70.12px;
    bottom: -190px;
    width: 4.95px;
    height: 584.97px;
    background-color: #D2A06C;
    z-index: 1;
}

.index_thirdarea .leftboxcolor {
    background-color: rgba(0, 0, 0, 0.4);
    Width: 391.65px;
    Height: 338.58px;
}


/* 以下是 .index_thirdarea .groupcenter */
.index_thirdarea .groupcenter {
    position: absolute;
    z-index: 2;
    margin: 92.05px 385.64px 93.02px 133.22px;
    width: 681.14px;
    height: 900.89px;
}

.index_thirdarea .groupcenter img {
    width: 100%;
    height: 100%;
}

/* 以下是 .index_thirdarea .groupright*/

.index_thirdarea .groupright {
    position: absolute;
    z-index: 3;
    margin: -170px 0px 353.79px 778.3px;
}


.index_thirdarea .rightboxline_bottom {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 3;
}


.index_thirdarea .rightboxline_bottom::after {
    content: '';
    position: absolute;
    z-index: 3;
}

.index_thirdarea .rightboxline_bottom::after {
    left: 388.65px;
    top: -240px;
    width: 4.95px;
    height: 481.24px;
    background-color: #D2A06C;
    z-index: 3;
}

.index_thirdarea .rightboxcolor {
    background-color: rgba(0, 0, 0, 0.4);
    width: 419.7px;
    height: 734.21px;
}

.index_thirdarea .rightboxword {
    color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    writing-mode: vertical-lr;
    margin: 167px 0px 0px 80.7px;
}

.index_thirdarea .use_goodtea {
    margin-top: 167px;
}

.index_thirdarea .accompany {
    margin-top: 225px;
}

.index_thirdarea .theyear {
    margin-top: 352px;
}

.index_thirdarea .englishquotes {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-family: 'Smooch';
    font-weight: 400;
    writing-mode: horizontal-tb;
    width: 319.64px;
    height: 67.2px;
    line-height: 34px;
    letter-spacing: 0.09em;
    margin-top: 600px;
    margin-left: -261px;
    text-align: right;
}

/* 以下是 index_fourtharea */
.index_fourtharea {
    background-image: url('https://img.onl/tLIA0j');
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* 這邊有用到 drinkspromote_group */


/* 以下是 index_fourtharea .grouptop */
.index_fourtharea .grouptop {
    position: absolute;
    display: inline-flex;
    z-index: 2;
}

.index_fourtharea .grouptopword {
    font-family: 'Noto Sans TC';
    writing-mode: vertical-lr;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 93px;
}

.index_fourtharea .grouptoppic {
    width: 745.28px;
    height: 586.1px;
    margin-left: -23px;
}

.index_fourtharea .grouptoppic img {
    width: 100%;
    height: 100%;
}

.index_fourtharea .grouptopword h1 {
    color: #BC5C56;
    font-size: 64px;
    margin-left: 96.99px;
}

.index_fourtharea .grouptopword p {
    color: #BC5C56;
    font-size: 40px;
    margin-top: 120px;
    margin-right: 187px;
    margin-left: 8px;
}


/* 以下是 index_fourtharea .groupbox */
.index_fourtharea .groupbox {
    background-color: #FAD2D3;
    width: 954.78px;
    height: 754.12px;
    position: absolute;
    margin-top: 66.09px;
    margin-left: 40.59px;
    z-index: 1;
}


/* 以下是 index_fourtharea .groupbottom */

.index_fourtharea .groupbottom {
    color: #BC5C56;
    position: absolute;
    display: inline-flex;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    z-index: 2;
    margin-top: 620.34px;
}

.index_fourtharea .groupbottompic {
    width: 329.02px;
    height: 333.66px;
}

.index_fourtharea .groupbottompic img {
    width: 100%;
    height: 100%;
}

.index_fourtharea .groupbottomword {
    margin-left: 353px;
}

.index_fourtharea .groupbottomword p {
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 116.69px;
    margin-left: 98.26px;
    width: 419.96px;
    text-align: justify;
}

.index_fourtharea .groupbottomword .morebtn {
    background-color: #D2A06C;
    width: 285px;
    height: 62px;
    border: none;
    box-shadow: 3px 5px 5px #6B6B6B;
    color: #ffffff;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 12.26px;
    margin-left: 229.11px;
}

.index_fourtharea .groupbottompic {
    display: inline-flex;
    gap: 10.3px;
}